@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  --tw-prose-body: rgb(209 213 219);
  --tw-prose-headings: white;
  --tw-prose-bullets: rgb(156 163 175);
  --tw-prose-bold: white;
  --tw-prose-links: #FCCF09;
  --tw-prose-code: rgb(209 213 219);
  --tw-prose-counters: rgb(156 163 175);
}

@layer base {
  * {
    box-sizing: border-box;
  }
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #021C2F;
  }
  ::-webkit-scrollbar-thumb {
    background: #0D6399;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #0A5080;
  }
}
